<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653083112711-ngsbn83qo0isoqknt3ub49hr8kgk622u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653083112711-ngsbn83qo0isoqknt3ub49hr8kgk622u</string>
	<key>API_KEY</key>
	<string>AIzaSyCCJyqhr5qz1YrWUoUZCmOYdUghTNqPNCo</string>
	<key>GCM_SENDER_ID</key>
	<string>653083112711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.marcusthuvesen.Torst</string>
	<key>PROJECT_ID</key>
	<string>generated-9887a</string>
	<key>STORAGE_BUCKET</key>
	<string>generated-9887a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653083112711:ios:64b9e6dcd23e33cd3e41a2</string>
	<key>DATABASE_URL</key>
	<string>https://generated-9887a.firebaseio.com</string>
</dict>
</plist>